.bash_history
.bash_logout
.bashrc
.cache/
.cargo/
.config/btop/
.config/composer/
.config/dconf/
.config/neofetch/
.dotnet/
.gitconfig
.landscape/
.leif/
.lesshst
.local/
.motd_shown
.oh-my-zsh/
.profile
.profile_bak
.python_history
.rustup/
.skip-cloud-init-warning
.sudo_as_admin_successful
.tmux/
.vim/
.viminfo
.vscode-server/
.wget-hsts
.zcompdump
.zcompdump-DESKTOP-DAJKTDS-5.9
.zcompdump-DESKTOP-DAJKTDS-5.9.zwc
.zsh_history
